@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@brand-success: #99cc00;
@brand-danger: #cc0082;
@text-color: #666;

.tab-pane > .container {
  margin: 3vw;
}

.tab-content {
  min-width: 350px;

  .row {
    margin-bottom: 4vw;
    display: flex;

    &.toaddr-input {
      border-bottom: 1px dashed @brand-success;
    }

    output,
    input[type="text"] {
      border: 0;
      color: @text-color;
      font-size: 1.8em;
      flex-grow: 1;
    }

    button {
      text-align: center;
      transition: background-color 0.5s ease;
      font-size: 1.8em;
      box-sizing: border-box;
      padding: 0;
      padding-left: 0.5em;
      margin: 0;
      border: 0;
      border-radius: 0;
      background: transparent;
      cursor: pointer;

      &:last-child {
        padding-right: 0.5em;
      }

      &:active {
        color: @text-color;
      }

      &.answerbtn,
      &.callbtn {
        color: @brand-success;
      }

      &.holdbtn,
      &.resumebtn {
        color: @brand-warning;
      }

      &.hangupbtn {
        color: @brand-danger;
      }
    }
  }
}

.dialpad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: initial;

  button {
    border-radius: 50%;
    height: 26.3vw;
    width: 26.3vw;
    text-align: center;
    transition: background-color 0.5s ease;
    font-size: 2em;
    box-sizing:border-box;
    padding: 1vw 0 0 0;
    margin: 1.5vw;
    border: 2px solid @brand-success;
    background: transparent;
    cursor:pointer;

    &:active {
      background-color: @brand-success;
    }

    div {
      text-align: center;

      &.letters {
        font-size: 0.5em;
        margin-top: -0.5em;
        text-transform: uppercase;
      }
    }
  }
}
