@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@brand-success: #99cc00;
@brand-danger: #cc0082;

.tab-pane > .container {
  margin: 3vw;
}

.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0;

  button {
    border-radius: 1em;
    width: 27.3vw;
    text-align: center;
    transition: background-color 0.5s ease;
    font-size: 1em;
    box-sizing:border-box;
    padding: 2vw 0;
    margin: 2vw;
    border: 2px solid @brand-info;
    background: transparent;
    cursor:pointer;

    &:active {
      background-color: @text-color;
    }

    &.holdbtn {
      border-color: @brand-warning;

      &:active {
        background-color: @brand-warning;
      }
    }
  }
}

.dialpad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0;

  button {
    border-radius: 50%;
    height: 27.3vw;
    width: 27.3vw;
    text-align: center;
    transition: background-color 0.5s ease;
    font-size: 2em;
    box-sizing:border-box;
    padding: 1vw 0 0 0;
    margin: 2vw;
    border: 2px solid @brand-success;
    background: transparent;
    cursor:pointer;

    &:active {
      background-color: @brand-success;
    }

    &.answerbtn,
    &.callbtn {
      color: @brand-success;

      &:active {
        color: @text-color;
      }
    }

    &.hangupbtn {
      color: @brand-danger;
      border-color: @brand-danger;

      &:active {
        color: @text-color;
        background-color: @brand-danger;
      }
    }

    div {
      text-align: center;

      &.letters {
        font-size: 0.5em;
        margin-top: -0.5em;
        text-transform: uppercase;
      }
    }
  }
}
