<!DOCTYPE html>
<html ng-app="SIPClient">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="bower_components/angular/angular-csp.css">
<link rel="stylesheet/less" type="text/css" href="less/popup.less">
<script type="text/javascript" src="bower_components/less/dist/less.js"></script>
<title>Chrome SIP Client</title>
</head>
<body>
    <form ng-controller="SIPClientCtrl" ng-submit="startCall()">
        <fieldset id="connection">
            <button type="button" ng-hide="connected" ng-click="connect()">Connect</button>
            <button type="button" ng-show="connected" ng-click="disconnect()">Disconnect</button>
        </fieldset>
        <fieldset id="new_call" ng-show="connected">
            <label for="toaddr">New call to:</label>
            <div>
                <input type="text" id="toaddr" name="toaddr" ng-model="toaddr">
                <button type="submit">Call</button>
            </div>
        </fieldset>
        <fieldset ng-repeat="sipCall in calls">
        	<output>{{ sipCall.session }}</output>
        	<button type="button" ng-click="answer(sipCall)">Answer</button>
        	<button type="button" ng-click="hangup(sipCall)">Hang up</button>
          <div class="dialpad">
            <button type="button" ng-repeat="digit in dialpad" ng-click="dtmf(sipCall, digit)">{{ digit }}</button>
          </div>
        </fieldset>
    </form>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
</body>
</html>
